@charset "utf-8";
@import url("../../styles/common.css");

.sidebar {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar-brand {
    height: 60px;
    padding: 20px;
}

.sidebar-nav {
    width: 100%;
    padding: 5px;
}

.sidebar-nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar-nav-link {
    width: 100%;
}

.horizontal-line {
    width: 100%;
    height: 1px;
    background-color: var(--neutral-700);
}

li {
    list-style-type: none;
    margin: 10px;
}